<mat-toolbar color="primary" class="header">
    <div class="flexRow flexCenter outer-container">
        <div class="flexRow" style="flex: 1 0 auto;">
            <span class="logo" routerLink="/">DeliciousRecipe</span>
        </div>

        <div class="flexRow flexCenter">
            <div *ngIf="!isAuthenticated">
                <a class="nav-link" (click)="openDialog()">Login / Sign up</a>
            </div>

            <div *ngIf="isAuthenticated" class="flexRow flexCenter">
                <div class="flexRow flexCenter">
                    <button mat-button [matMenuTriggerFor]="menu" class="user-button">
                        <img class="avatar" src="assets/image/avatar.png" alt={{currentUser.username}}>

                        <span>{{ currentUser.username }}</span>
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="['/profile', currentUser.username]"
                            (click)="onUsernameClicked()">
                            <mat-icon>account_circle</mat-icon>
                            <span>My Profile</span>
                        </button>
                        <button mat-menu-item routerLink="/shopping-list">
                            <mat-icon>shopping</mat-icon>
                            <span>Shopping List</span>
                        </button>
                        <button mat-menu-item (click)="onLogout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>