.header .logo {
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header .user-button {
    height: 64px;
}

.header .outer-container {
    flex: 1 1 auto;
    margin: 0 30px;
}

.avatar {
    width: 40px;
    min-width: 40px;
    margin: 0 8px 0 0;
}