footer {
    background-color: #000;
    color: #fff;
    margin-top: 3rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

footer .footer-logo {
   color: aqua;
   vertical-align: middle;
}

a:focus, a:hover {
    text-decoration: underline;
}

footer .attribution {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 10px;
}
