<h1 mat-dialog-title><strong>{{title}}</strong></h1>

<div mat-dialog-content class="form-container">
    <p *ngIf="authMode == 'login'">
        Don't have an account?
        <app-nav-link (click)="onSwitchPage('register')">Please register</app-nav-link>
    </p>

    <p *ngIf="authMode == 'register' || authMode == 'forgotPassword'">
        Already have login and password?
        <app-nav-link (click)="onSwitchPage('login')">Login</app-nav-link>
    </p>

    <h6 *ngIf="error" style="color: red">{{error}}</h6>

    <form [formGroup]="authForm">
        <div class="authForm">
            <mat-form-field appearance="outline" *ngIf="authForm.contains('username')">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Enter your username" formControlName="username">
                <mat-icon matSuffix>account_circle</mat-icon>

                <mat-error *ngIf="authForm.controls.username.invalid">
                    <div *ngIf="authForm.controls.username.hasError('required')">
                        Username is required.
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Enter your email" formControlName="email">
                <mat-icon matSuffix>mail_outline</mat-icon>

                <mat-error *ngIf="authForm.controls.email.invalid">
                    <div *ngIf="authForm.controls.email.hasError('required')">
                        Email is required.
                    </div>
                    <div *ngIf="authForm.controls.email.hasError('email')">
                        Email is invalid.
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="authForm.contains('password')">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter your password" formControlName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>

                <mat-error *ngIf="authForm.controls.password.invalid">
                    <div *ngIf="authForm.controls.password.hasError('required')">
                        Password is required.
                    </div>
                </mat-error>
            </mat-form-field>
        </div>

        <div style="text-align: right">
            <p *ngIf="authMode == 'login'">
                <app-nav-link (click)="onSwitchPage('forgotPassword')">Forgot password?</app-nav-link>
            </p>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button [disabled]="!authForm.valid" *ngIf="authMode == 'login'" 
        mat-raised-button color="primary" (click)="onAction(authMode)">
        Login
    </button>

    <button [disabled]="!authForm.valid" *ngIf="authMode == 'register'"
         mat-raised-button color="primary" (click)="onAction(authMode)">
        Register
    </button>

    <button [disabled]="!authForm.valid" *ngIf="authMode == 'forgotPassword'" 
        mat-raised-button color="primary" (click)="onAction(authMode)">
        Reset Password
    </button>
</div>