<div *ngIf="loading">
    <app-loader></app-loader>
</div>


<div class="row" *ngIf="!loading">
    <div class="col-12" *ngIf="recipes.length === 0">
        <h6>You don't have any recipes</h6>
    </div>

    <ng-container *ngIf="recipes.length !== 0">
        <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let recipe of recipes">
            <app-recipe-item [recipe]="recipe"></app-recipe-item>
        </div>
    </ng-container>
</div>