<div class="page-content">

    <div *ngIf="isLoading">
        <app-loader></app-loader>
    </div>

    <div class="row" *ngIf="!isLoading">
        <div class="col-lg-9 col-md-12 wrapper">
            <div class="header left">
                <div class="recipeTitle">
                    <h4>{{recipe.title}}</h4>
                    <a class="author" [routerLink]="['/profile', recipe.author.username]">
                        by {{recipe.author.username}}
                    </a>
                </div>

                <div class="spacer"></div>

                <div class="smallDevice" *ngIf="isAuthenticated && (recipe.author._id == user.userId)">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Recipe</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/recipes', id, 'edit']">
                            <mat-icon>delete_outlined</mat-icon>
                            <span>Edit Recipe</span>
                        </button>
                        <button mat-menu-item (click)="onDeleteRecipe(id)">
                            <mat-icon>edit</mat-icon>
                            <span>Delete Recipe</span>
                        </button>
                    </mat-menu>
                </div>
            </div>

            <div *ngIf="recipe">
                <img [src]="recipe.imageUrl" alt={{recipe._id}} style="width: 100%">
            </div>

            <div class="recipeContent">
                <p>{{recipe.description}}</p>
            </div>
            <hr />
            <div class="row">
                <div class="col-xl-5 col-lg-12 ingredients">
                    <h5 class="col-12">Ingredients:</h5>
                    <div *ngFor="let ing of recipe.ingredients">
                        <div class="flexRow col-12">
                            <mat-checkbox>{{ing.ingredient}}</mat-checkbox>
                        </div>
                    </div>
                </div>

                <hr class="col-md-11 divider" />

                <div class="col-xl-7 col-lg-12">
                    <h5 class="col-12">Steps:</h5>

                    <div *ngFor="let step of recipe.steps; let i = index">
                        <div class="flexRow">
                            <span class="col-3"><strong>Step {{i+1}}</strong></span>
                            <p>{{step.step}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-12 wrapper">
            <div class="header right">
                <div *ngIf="isAuthenticated && (recipe.author._id == user.userId)">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Recipe</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['edit']">
                            <mat-icon>delete_outlined</mat-icon>
                            <span>Edit Recipe</span>
                        </button>
                        <button mat-menu-item (click)="onDeleteRecipe(id)">
                            <mat-icon>edit</mat-icon>
                            <span>Delete Recipe</span>
                        </button>
                    </mat-menu>
                </div>
            </div>

            <ul class="list-group prep">
                <li class="list-group-item">
                    <span class="subject">Prep Time:</span>
                    <span class="value">{{recipe.readyTime}}</span>
                </li>

                <li class="list-group-item">
                    <span class="subject">Cook Time:</span>
                    <span class="value">{{recipe.cookTime}}</span>
                </li>

                <li class="list-group-item">
                    <span class="subject">Serving:</span>
                    <span class="value">{{recipe.serving}}</span>
                </li>
                <li class="list-group-item">
                    <span class="subject">Cuisine:</span>
                    <span class="value">{{recipe.cuisine}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>