.header {
    height: 80px;
    display: flex;
    align-items: center;
}

.wrapper {
    background-color: #fff;
    padding: 0 20px;
}

.recipeContent {
    margin-top: 2rem;
    font-size: 14px;
}

.divider {
    display: none;
}


.prep .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.prep .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.prep .item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prep .subject {
    font-size: 14px;
}

.prep .value {
    float: right;
    font-size: 14px;
}

.smallDevice {
    display: none;
}


.ingredients ::ng-deep .mat-checkbox-layout {
    display: inline-block;
    white-space: normal;
}

.author {
    font-style: italic
}


@media (max-width: 1024px) {
    .divider {
        display: block;
    }
}

@media (max-width: 1000px) {
    .smallDevice {
        display: block;
    }

    .recipeTitle > h4 {
        display: flex;
        flex-wrap: wrap;
        width: 55vw;
        font-size: 1.5rem;
    }

    .right {
        display: none;
    }

    .side {
        margin-top: 2rem;
    }
}

@media (max-width: 500px) {
    .recipeTitle {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
    }

    .recipeTitle > h4 {
        font-size: 1rem;
    }
}