body {
    background-color: #eee!important;
}

.page-content {
    padding: 1rem 2rem;
}

button:focus {
    outline: none!important;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}