<div class="page-content">
    <div class="row">
        <div class="col-12">
            <h3>My Shopping List</h3>
        </div>
    </div>

    <hr />

    <div>
        <p>In progress ...</p>
    </div>
</div>


