<div class="page-content">
    <div class="row">
        <div class="col-12">
            <h3>All recipes</h3>
        </div>
    </div>

    <hr />
    
    <app-recipe-list [limit]="6" [config]="recipesConfig"></app-recipe-list>
</div>