<div class="page-content">
    <div class="row">
        <div class="col-12 pageHeader">
            <h3>{{title}}</h3>
        </div>
    </div>

    <hr>

    <div>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [completed]="recipeDetailForm.valid" [stepControl]="recipeDetailForm">
                <form [formGroup]="recipeDetailForm">
                    <ng-template matStepLabel>Recipe Detail</ng-template>
                    <div class="row form-container">
                        <div class="col-xl-1 hidden-md"></div>
                        <div class="image-box col-md-4 col-xs-12">
                            <img class="image" [src]="recipeDetailForm.get('imageUrl').value" alt="">
                        </div>
                        <div class="col-md-1 hidden-xs"></div>
                        <div class="field-container col-lg-6 col-md-7 col-xs-12">
                            <mat-form-field>
                                <input matInput placeholder="Title" formControlName="title" required>
                                <mat-error *ngIf="!recipeDetailForm.get('title').valid 
                                                && recipeDetailForm.get('title').touched">
                                    Title is required
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <textarea matInput cdkTextareaAutosize="true" placeholder="Description"
                                    formControlName="description" required></textarea>
                                <mat-error *ngIf="!recipeDetailForm.get('description').valid 
                                                            && recipeDetailForm.get('description').touched">
                                    Description is required
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Image URL" formControlName="imageUrl" required>
                                <mat-error *ngIf="recipeDetailForm.get('imageUrl').hasError('required') 
                                                        && recipeDetailForm.get('imageUrl').touched">
                                    Image URL is required
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Cook Time" 
                                    formControlName="cookTime" required>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Preparation Time" 
                                    formControlName="readyTime" required>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Servings" 
                                    formControlName="serving" required>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Cuisine" 
                                    formControlName="cuisine" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="actions">
                        <button mat-raised-button color="primary" matStepperNext
                            [disabled]="!recipeDetailForm.valid">Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [completed]="recipeIngredientsForm.valid" [stepControl]="recipeIngredientsForm">
                <form [formGroup]="recipeIngredientsForm">
                    <ng-template matStepLabel>Recipe Ingredients</ng-template>


                    <div class="col-xl-1 hidden-md"></div>
                    <button mat-raised-button color="accent" (click)=onAddIngredient()>Add ingredient</button>

                    <div class="field-container" formArrayName="ingredients" style="margin-top: 10px">
                        <div *ngFor="let ing of ingredientsControl; let ingIndex = index" [formGroupName]="ingIndex">
                            <div class="arrayWrapper">
                                <mat-form-field class="col-lg-6 col-10">
                                    <input matInput placeholder="Ingredient" formControlName="ingredient">
                                </mat-form-field>

                                <button mat-raised-button color="warn" (click)=onDeleteIngredient(ingIndex)>
                                    X
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="recipeStepsForm">
                <form [formGroup]="recipeStepsForm">
                    <ng-template matStepLabel>Recipe steps</ng-template>

                    <button mat-raised-button color="accent" (click)=onAddStep()>Add step</button>

                    <div class="field-container" formArrayName="steps" style="margin-top: 10px">
                        <div *ngFor="let step of stepsControl; let stepIndex = index" [formGroupName]="stepIndex">
                            <div class="arrayWrapper">
                                <mat-form-field class="col-lg-6 col-10">
                                    <textarea cdkTextareaAutosize="true" 
                                        matInput placeholder="Step {{stepIndex + 1}}"
                                        formControlName="step">
                                    </textarea>
                                </mat-form-field>

                                <button mat-raised-button color="warn" (click)=onDeleteStep(stepIndex)>
                                    X
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <button mat-raised-button color="default" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" matStepperNext (click)="onSaveRecipe()">Save</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                Your recipe has been saved.
                <div class="actions">
                    <button mat-raised-button routerLink="/profile/recipes">Back to list</button>
                    <!-- <button mat-raised-button (click)="stepper.reset()">Reset</button> -->
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>