.form-container {
    margin: 0;
 }
 
 .field-container {
     display: flex;
     flex-direction: column;
 }
 
 .image-box {
     height: 200px;
     display: flex;
     border: 1px solid #eee;
     box-shadow: 2px 2px 2px #ddd;
     padding: 0;
 }
 
 .image {
     width: inherit;
 }
 
 .spacer {
     flex-grow: 1;
 }
 
 .actions {
     margin-top: 10px;
     float: right;
 }
 
 .actions button {
     margin-right: 10px;
 }


 .arrayWrapper {
    display: flex; 
    align-items: center;
 }

 @media (max-width: 500px) {
     .field-container {
         margin-top: 10px;
     }
     
    ::ng-deep .mat-horizontal-stepper-header-container {
        flex-direction: column!important;
        align-items: flex-start!important;
    }
    
    ::ng-deep .mat-horizontal-stepper-header {
        height: 50px!important;
    }
    
    ::ng-deep .mat-stepper-horizontal-line {
        display: none;
    }
 }