.app-wrapper {
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

.content {
    background-color: #fff;
    flex-grow: 1;
    max-width: 95vw;
    width: 90vw;
    margin: 1rem auto
}