.profile-page .user-info {
    background-color: #2d323e;
    color: white;
    padding: 2rem 0 1rem;
}

.profile-page .recipes-toggle {
    margin: 1.5rem 0;
}

.profile-page .recipes-content {
    margin: 2rem 0 0;
}

.recipes-toggle a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: unset;
}

.profile-page .user-info .profile {
    margin: 0 auto;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-end space-between;
    align-items: flex-end;
}

.profile-page .user-info .info {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
}

.profile-page .user-info .avatar {
    width: 96px;
    min-width: 96px;
    height: 96px;
    line-height: 96px;
    margin-right: 2rem;
}

.profile-page .user-info .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-page .user-info .details p {
    margin: 0
}

.profile-page .user-info .actions {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-end;
    align-items: center;
}


.profile-page .user-info .actions a {
    margin-right: 10px;
}

.profile-page .user-info .actions .mat-raised-button {
    line-height: 30px;
    padding: 0px 10px;
}

@media(max-width: 700px) {
    .profile-page .user-info .profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-page .user-info .info {
        margin-bottom: 10px;
    }
}