<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="profile col-xs-12 col-md-10 offset-md-1">
                    <div class="info">
                        <!-- <img [src]="profile.image" class="user-img" /> -->
                        <img src="assets/image/avatar.png" class="avatar" />
                        <div class="details">
                            <h4>{{ profile.username }}</h4>
                            <p>{{ profile.email }}</p>
                        </div>
                    </div>

                    <div class="actions">
                        <a [hidden]="isLoginUser" (click)="onFollowUser()">
                            <button mat-raised-button>
                                <mat-icon>add</mat-icon>
                                <span>
                                    Follow {{profile.username}}
                                </span>
                            </button>
                        </a>

                        <a [routerLink]="['/settings']" [hidden]="!isLoginUser">
                            <button mat-raised-button>
                                <mat-icon>settings</mat-icon>
                                Edit Profile
                            </button>
                        </a>

                        <a routerLink="/recipes/new" [hidden]="!isLoginUser">
                            <button mat-raised-button>
                                <mat-icon>add</mat-icon>
                                New Recipe
                            </button>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-11" style="margin: 0 auto;">
                <div class="recipes-toggle">
                    <nav mat-tab-nav-bar>
                        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive
                            [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive" [active]="rla.isActive">
                            {{link.label}}
                        </a>
                    </nav>

                    <div class="recipes-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>