<div class="recipe-card-wrapper">
    <mat-card class="recipe-card">
        <img mat-card-image [src]="recipe.imageUrl" alt={{recipe._id}}>

        <div class="recipe-title">
            <mat-card-header>
                <mat-card-title>{{recipe.title}}</mat-card-title>
                <mat-card-subtitle *ngIf="!isProfile">
                    <a [routerLink]="['/profile', recipe.author.username]">
                        by {{ recipe.author.username }}
                    </a>
                </mat-card-subtitle>
            </mat-card-header>
        </div>

        <div class="recipe-description">
            <mat-card-content>
                <p> {{recipe.description | shorten: 40}} </p>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <div class="recipe-action">
                <!-- <button mat-raised-button color="primary" [routerLink]="[recipe._id]"> -->
                <button mat-raised-button color="primary" routerLink="/recipes/{{recipe._id}}">
                    View details
                </button>
                <div class="spacer"></div>

                <div class="flexRow flexCenter" *ngIf="!isProfile">
                    <button class="favorite" mat-icon-button (click)="onFavoriteClicked()">
                        <mat-icon>{{isFavorited ? 'favorite' : 'favorite_border'}}</mat-icon>
                    </button>

                    <span>{{recipe.favorite.count}}</span>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>