.recipe-card-wrapper {
    margin-bottom: 20px;
}

.recipe-card-wrapper .mat-card {
    border-radius: 0;
}

.recipe-card {
    max-width: 400px;
}   

.recipe-card img {
    height: 180px;
    max-height: 180px;
}

.recipe-title {
    height: 100px;
    max-height: 100px;
}

.recipe-description {
    height: 150px;
    max-height: 150px;
}

.recipe-title ::ng-deep .mat-card-header-text{
    margin: 0;
}

.recipe-action {
    display: flex;
    align-items: center;
}

.favorite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite ::ng-deep .mat-icon {
    color: deeppink;
}

.recipe-card ::ng-deep .mat-card-actions {
    margin-left: 0;
    margin-right: 0
}

.recipe-title .mat-card-subtitle {
    font-style: italic;
}