.radio-margin {
    margin: 0 10px;
}

.outer {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.space {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 25%;
}

.form {
    flex-direction: column;
    flex: 1 1 100%;
    box-sizing: border-box;
}

.form > form > .mat-form-field{
    width: 100%;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.pl-4 {
    padding-left: 4px;
}

.pr-4 {
    padding-right: 4px;
}

.outest-wrapper {
    display: flex;
    flex-direction: row;
    place-content: center flex-start;
    align-items: center;
    flex: 2 0 auto;
}

.full-form-field {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 60%;
}
 
.half-form-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    place-content: center flex-start;
    align-items: center;
    flex: 1 0 auto;
}

.half-form-field {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 50%;
}