<div class="page-content">
    <div class="row">
        <div class="col-12">
            <h3>My Profile</h3>
        </div>
    </div>

    <hr />

    <div class="outer">
        <div class="space"></div>

        <div class="form">
            <form [formGroup]="currentUserForm">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" placeholder="Username">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" placeholder="Email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" formControlName="phone" placeholder="Phone">
                </mat-form-field>

                <div class="radio-group">
                    <label>Gender</label>
                    <mat-radio-group>
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button class="radio-margin" value="female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="half-form-wrapper">
                    <mat-form-field class="half-form-field pr-4" appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput type="text" formControlName="city" placeholder="City">
                    </mat-form-field>

                    <mat-form-field class="half-form-field pl-4" appearance="outline">
                        <mat-label>Country</mat-label>
                        <input matInput type="text" formControlName="country" placeholder="Country">
                    </mat-form-field>
                </div>
            </form>

            <div>
                <button mat-raised-button color="primary" (click)="updateProfile()">Update info</button>
            </div>
        </div>

        <div class="space"></div>
    </div>
</div>